// カード・フラワー


// 変数・ミックスイン・関数
@use "../../../global/" as g;


.flowerCard {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

  &__link {
    transition: color 0.2s;

    &:hover {
      color: g.$lightTextColor;
    }
  }

  &__imageWrapper {
    display: block;
    height: 33.3vw;
  }

  &__image {
    // height: calc((100vw - 8px) * 0.32);
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &__content {
    min-height: 80px;
    padding: 6px 10px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    font-size: 12px;
  }

  &__price {
    text-align: right;
    font-size: 14px;
    line-height: 1;
    color: g.$lightTextColor;
  }


  @include g.mq(lg-min) {
    border-radius: 6px;

    &__imageWrapper {
      height: 180px;
      overflow: hidden;
    }

    &__image {
      transition: all 0.5s ease-in-out;

      .flowerCard__link:hover & {
        transform: scale(1.1);
        filter: grayscale(85%);
      }
    }

    &__content {
      padding: 10px 16px 14px;
    }

    &__heading {
      font-size: 16px;
    }

    &__price {
      font-size: 16px;
    }
  }
}
