<footer class="footer">
  <div class="footer__inner">
    <nav class="footer__nav">
      <div class="footer__navDivision">
        <div class="footer__navTitle">Online Shop</div>

        <ul class="footer__navList">
          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Category</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Category</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Category</a>
          </li>
        </ul>
      </div>

      <div class="footer__navDivision">
        <div class="footer__navTitle">News</div>

        <ul class="footer__navList">
          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Info</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Event</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Media</a>
          </li>
        </ul>
      </div>

      <div class="footer__navDivision">
        <div class="footer__navTitle">Store</div>

        <ul class="footer__navList">
          <li class="footer__navItem">
            <a class="footer__navLink" href="#">About</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Access</a>
          </li>

          <li class="footer__navItem">
            <a class="footer__navLink" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav><!-- /.footer__nav -->

    <p class="footer__copyright">
      <small class="footer__copyrightText">&copy; company name</small>
    </p>
  </div><!-- /.footer__inner -->
</footer>
