// ボタン


// 変数・ミックスイン・関数
@use "../../global/" as g;


// プライマリ
.primaryBtn {
  display: block;
  width: 100%;
  max-width: 314px;
  line-height: 46px;
  padding: 0 52px;
  border: solid 2px g.$mainColor;
  border-radius: 24px;
  font-weight: bold;
  background-color: g.$mainColor;
  color: #fff;
  transition: 0.3s ease-in-out;

  &--login {
    max-width: 260px;
    margin: 0 auto;

    @include g.mq(lg-min) {
      max-width: 290px;
    }
  }

  &:hover {
    background-color: #fff;
    color: g.$mainColor;
  }
}
