<div class="topCarousel">
  <div class="swiper-container topSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            media="(max-width: 979px)"

            type="image/webp"

            srcset="/images/kv/main01_sp.webp">

          <source
            media="(max-width: 979px)"

            srcset="/images/kv/main01_sp@2x.jpg 750w">

          <source
            media="(min-width: 980px)"

            type="image/webp"

            srcset="/images/kv/main01.webp">

          <source
            media="(min-width: 980px)"

            srcset="/images/kv/main01.jpg 1024w,
                    /images/kv/main01@2x.jpg 2048w">

          <img src="/images/kv/main01.jpg" alt="">
        </picture>
      </div><!-- /.swiper-slide -->

      <div class="swiper-slide">
        <picture>
          <source
            media="(max-width: 979px)"

            type="image/webp"

            srcset="/images/kv/main02_sp.webp">

          <source
            media="(max-width: 979px)"

            srcset="/images/kv/main02_sp@2x.jpg 750w">

          <source
            media="(min-width: 980px)"

            type="image/webp"

            srcset="/images/kv/main02.webp">

          <source
            media="(min-width: 980px)"

            srcset="/images/kv/main02.jpg 1024w,
                    /images/kv/main02@2x.jpg 2048w">

          <img src="/images/kv/main02/jpg" alt="">
        </picture>
      </div><!-- /.swiper-slide -->
    </div>

    <div class="swiper-pagination"></div>
  </div><!-- /.swiper-container.topSwiper -->
</div><!-- /.topCarousel -->
