// セクション・詳細


// 変数・ミックスイン・関数
@use "../../../global" as g;


.detailSection {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &__content {
    padding: 30px 20px 20px;
    background-color: #fff;
  }

  &__heading {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;
  }

  &__subHeading {
    margin-bottom: 30px;
    font-size: 14px;
    color: g.$lightTextColor;
  }

  &__price {
    margin-bottom: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.75;
  }


  &__thumbnail {
    margin-top: 10px;
    border: solid 4px orange;
    display: flex;

    &Item {
      border: solid 2px g.$lightMainColor;

      & + & {
        margin-left: 10px;
      }
    }
  }



  // Swiper
  .detailPhotoSwiper {

    .swiper-wrapper,
    .swiper-slide {
      height: auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 50px;
      height: 50px;
      background-image: url(/images/detail/arrow.png);
      background-size: 50px 50px;
      transition: opacity 0.3s ease-in-out;

      &::after {
        content: normal;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .swiper-button-prev {
      transform: scaleX(-1);
    }
  }

  .detailThumbSwiper {
    display: none;
  }


  @include g.mq-min(720) {
    &__text {
      font-size: 16px;
    }
  }

  @include g.mq(lg-min) {
    margin-bottom: 80px;
    display: flex;

    &__photo {
      flex-shrink: 0;
      width: 600px;
      margin-right: 50px;
    }

    .detailPhotoSwiper {
      flex-shrink: 0;
      width: 600px;
      height: 700px;
      margin-right: 50px;

      .swiper-slide,
      img {
        height: 100%;
      }

      img {
        object-fit: cover;
        object-position: left top;
        font-family: "object-fit: cover; object-position: left top;";
      }
    }

    .detailThumbSwiper {
      display: block;
      position: absolute;
      bottom: 0;
      left: 660px;

      .swiper-wrapper {
        width: 540px;
      }

      .swiper-slide {
        cursor: pointer;
      }

      .swiper-slide-thumb-active {
        border: solid 2px g.$mainColor;
      }
    }

    &__content {
      align-self: center;
      padding: 30px;
      display: flex;
      flex-direction: column;
      background-color: transparent;
    }

    &__heading {
      margin-bottom: 50px;
      font-size: 36px;
    }

    &__subHeading {
      order: -1;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__price {
      text-align: start;
      font-size: 32px;
    }

    &__btn {
      margin-bottom: 60px;
    }

    &__text {
      order: 1;
    }
  }
}
